<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact Us</title>
    <link href="/contact.css" rel="stylesheet" />

  </head>
  <body>
    <nav class="navbar">
      <div class="nav-container">
        <a href="/" class="nav-link">Home</a>
            <a href="/search" class="nav-link">Search Movies</a>
            <a href="/user/list" class="nav-link">My Watchlist</a> <!-- Updated link -->
            <a href="/about" class="nav-link">About</a>
            <a href="/contact" class="nav-link">Contact</a>
            <a href="/faq" class="nav-link">FAQ</a>
            <a href="/user/profile" class ="nav-link">Profile</a>
      </div>
    </nav>

    <div class="content-container">
      <h1>Contact Us</h1>
      <p>
        Have questions, feedback, or just want to say hello? We'd love to hear
        from you!
      </p>
      <div class="contact-info">
        <p><strong>Email:</strong> pokhrelamrita03@gmail.com</p>
        <p><strong>Phone:</strong> +977 9810957462</p>
        <p><strong>Address:</strong> No physical presence</p>
        <p>
          Our support team consist only myself. So, don't bother to seek support.
        </p>
      </div>
      <p>
        Feel free to reach out to us through any of the channels above. We'll
        get back to you as soon as possible.
      </p>
    </div>
  </body>
</html>